In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('../data/01_kepesertaan.txt', sep="|", header=None)

C:\Users\Alien\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (0,1,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,PSTV01,PSTV02,PSTV03,PSTV04,PSTV05,PSTV06,PSTV07,PSTV08,PSTV09,PSTV10,PSTV11,PSTV12,PSTV13,PSTV14,PSTV15,PSTV16,PSTV17,PSTV18
1,15,15,1944-03-01,1,2,9,3,2,72,7206,3,1,72,7206,40.0249137878418,2016,1,NaN
2,64,64,1971-12-10,1,2,2,3,3,76,7603,3,1,76,7603,36.4531364440918,2016,1,NaN
3,101,101,1967-12-31,1,1,2,2,5,12,1273,9,2,12,1273,4.1136589050293,2017,1,NaN
4,218,218,1961-01-30,1,2,3,3,2,18,1801,3,1,18,1801,22.9013938903809,2016,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1971740,271300213,271300213,1986-08-28,1,1,1,2,5,53,5307,3,1,53,5307,17.2531,2018,1,NaN
1971741,271303424,271303424,1993-09-21,1,1,1,2,5,11,1107,9,2,11,1107,8.71207,2018,1,NaN
1971742,271311471,221220532,1980-11-05,2,1,2,2,5,33,3316,3,1,33,3316,113.848,2018,1,NaN
1971743,271316977,263673847,1998-03-02,3,2,2,3,4,18,1808,3,1,18,1808,24.5046,2018,1,NaN
1971744,271318756,264240624,1970-12-31,3,2,2,3,3,76,7604,3,1,76,7604,30.591,2018,1,NaN