In [39]:
import pandas as pd
pd.options.display.max_columns = None
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('../data/01_kepesertaan.txt', sep="|", header=None)
data2 = pd.read_csv('../data/02_fktpkapitasi.txt', sep="|", header=None)

C:\Users\Alien\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (0,1,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Alien\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (0,1,2,3,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
data3 = pd.read_csv('../data/03_fkrtl.txt', sep="|", header=None)
data4 = pd.read_csv('../data/04_nonkapitasi.txt', sep="|", header=None)

C:\Users\Alien\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (0,1,2,7,8,9,10,11,12,13,14,15,16,17,21,24,27,28,29,30,31,32,33,34,35,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Alien\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (0,1,2,7,8,9,10,11,12,13,14,18,19,20) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [22]:
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,PSTV01,PSTV02,PSTV03,PSTV04,PSTV05,PSTV06,PSTV07,PSTV08,PSTV09,PSTV10,PSTV11,PSTV12,PSTV13,PSTV14,PSTV15,PSTV16,PSTV17,PSTV18
1,15,15,1944-03-01,1,2,9,3,2,72,7206,3,1,72,7206,40.0249137878418,2016,1,NaN
2,64,64,1971-12-10,1,2,2,3,3,76,7603,3,1,76,7603,36.4531364440918,2016,1,NaN
3,101,101,1967-12-31,1,1,2,2,5,12,1273,9,2,12,1273,4.1136589050293,2017,1,NaN
4,218,218,1961-01-30,1,2,3,3,2,18,1801,3,1,18,1801,22.9013938903809,2016,1,NaN

In [15]:
data2.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25
0,PSTV01,PSTV02,PSTV15,FKP02,FKP03,FKP04,FKP05,FKP06,FKP07,FKP08,FKP09,FKP10,FKP11,FKP12,FKP13,FKP14,FKP14A,FKP15,FKP15A,FKP16,FKP17,FKP18,FKP19,FKP20,FKP21,FKP22
1,81618143,141607507,22.5862369537354,228204023,2017-05-06,2017-05-06,35,3522,9,3,2,1,13,2,98,9999,NaN,9999,9999,98,9998,98,98,98,98,2
2,11197747,11197747,33.4066200256348,389210553,2017-11-09,2017-11-09,31,3174,3,1,3,1,13,3,98,9999,NaN,9999,9999,98,9998,98,98,98,98,2
3,66801879,67883172,40.4451217651367,220300531,2017-06-24,2017-06-24,12,1205,3,1,3,1,13,3,98,9999,NaN,9999,9999,98,9998,98,98,98,98,2
4,8994914,51537262,198.023513793945,701470658,2018-12-03,2018-12-03,32,3273,9,2,1,1,13,5,98,9999,NaN,9999,9999,98,9998,98,98,98,98,2

In [19]:
data3

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54
0,PSTV01,PSTV02,PSTV15,FKP02,FKL02,FKL03,FKL04,FKL05,FKL06,FKL07,FKL08,FKL09,FKL10,FKL11,FKL12,FKL13,FKL14,FKL15,FKL15A,FKL16,FKL16A,FKL17,FKL17A,FKL18,FKL18A,FKL19,FKL19A,FKL20,FKL21,FKL22,FKL23,FKL25,FKL26,FKL27,FKL28,FKL29,FKL30,FKL31,FKL32,FKL33,FKL34,FKL35,FKL36,FKL37,FKL38,FKL39,FKL40,FKL41,FKL42,FKL43,FKL44,FKL45,FKL46,FKL47,FKL48
1,8414195,8414195,186.4677734375,NaN,714302170001145,2017-02-20,2017-02-20,32,3214,9,1,7,1,6,5,2,1,270,D21,D219,Other benign neoplasm of connective and other ...,NaN,NaN,NaN,NaN,Q-5-44-0,NaN,17,5,44,1,32,3214,9,3,31,NaN,1,190400,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,190400,190400
2,56194485,56194485,166.297729492188,NaN,2480303170004933,2017-03-20,2017-03-20,12,1275,9,1,6,1,3,5,1,1,661,I69,I694,NaN,NaN,NaN,NaN,NaN,M-3-16-0,NaN,13,3,16,1,12,1212,3,1,28,NaN,3,120100,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,120100,120100
3,30433661,23630019,27.3135890960693,NaN,123105170001015,2017-05-15,2017-05-15,74,7472,9,1,7,1,3,5,1,1,655,I63,I639,"Cerebral infarction, unspecified",NaN,NaN,NaN,NaN,Q-5-27-0,NaN,17,5,27,1,74,7472,9,2,8,NaN,3,145600,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,145600,145600
4,37896277,37896277,257.588165283203,NaN,123105170000044,2017-05-02,2017-05-02,74,7472,9,1,7,1,13,5,2,1,583,H60,H609,"Otitis externa, unspecified",NaN,NaN,NaN,NaN,Q-5-44-0,NaN,17,5,44,1,74,7402,3,1,28,NaN,3,192700,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,192700,192700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1598638,56338225,56338225,52.9463,NaN,1608102170010691,2017-02-17,2017-02-17,33,3376,3,1,2,1,5,5,1,1,981,N18,N189,NaN,1693,Z99,Z992,NaN,N-3-15-0,NaN,14,3,15,1,33,3376,3,2,2,NaN,1,879100,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,879100,879100
1598639,75898025,203319079,51.6857,NaN,75510618V000085,2018-06-02,2018-06-02,32,3274,8,1,3,1,5,4,2,1,981,N18,N189,NaN,1693,Z99,Z992,NaN,N-3-15-0,NaN,14,3,15,1,32,3212,3,1,28,NaN,1,825500,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,825500,825500
1598640,75898025,203319079,51.6857,NaN,75510918V001375,2018-09-12,2018-09-12,32,3274,8,1,3,1,5,4,2,1,981,N18,N189,NaN,1693,Z99,Z992,NaN,N-3-15-0,NaN,14,3,15,1,32,3212,3,1,28,NaN,1,825500,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,825500,825500
1598641,184792741,184792741,8.29913,396150818Y000462,22010918V003974,2018-09-24,2018-09-24,64,6474,3,1,2,1,1,5,2,1,981,N18,N18,NaN,1693,Z99,Z992,NaN,N-3-15-0,NaN,14,3,15,1,64,6474,9,4,33,NaN,4,902900,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,902900,902900
1598642,20073531,20073531,11.4431,170040818Y000600,405360918V009456,2018-09-26,2018-09-26,33,3312,3,1,2,1,5,4,1,1,967,N03,N039,NaN,1693,Z99,Z992,NaN,N-3-15-0,NaN,14,3,15,1,33,3312,3,1,30,NaN,1,879100,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,879100,879100

In [17]:
data4.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
0,PSTV01,PSTV02,PSTV15,PNK02,PNK03,PNK04,PNK05,PNK06,PNK07,PNK08,PNK09,PNK10,PNK11,PNK12,PNK13,PNK13A,PNK14,PNK15,PNK16,PNK17,PNK18
1,37024202,37024202,302.130310058594,255510118Y000987,2018-01-10,2018-01-10,2018-01-10,35,3520,3,1,4,1,2,2,A01,A010,Typhoid fever,9001,120000,120000
2,42861441,42861441,115.662544250488,160250217Y000323,2017-02-21,2017-02-21,2017-02-23,32,3213,3,1,4,2,2,2,A01,A010,Typhoid fever,2011,100000,100000
3,50959771,50959771,52.0008697509766,40181217Y000563,2017-12-11,2017-12-11,2017-12-11,11,1108,3,1,4,1,2,2,A01,A010,Typhoid fever,9001,264163,264163
4,56188502,56188502,23.6367607116699,4710317Y000090,2017-03-28,2017-03-28,2017-03-30,17,1706,3,1,4,2,2,2,A01,A014,"Paratyphoid fever, unspecified",2011,100000,100000

In [24]:
data5.head()

,0,1,2,3
0,FKL02,FKL24,FKL24A,FKL24B
1,2708311170002537,I251,I25,I25 Chronic ischaemic heart disease
2,3127201170006356,M5439,M54,M54 Dorsalgia
3,866212170009413,O322,O32,O32 Maternal care for known or suspected malpr...
4,189351218V001691,K30,K30,K30 Functional dyspepsia

In [15]:
data3[18].str.contains('F', na=False)

0           True
1          False
2          False
3          False
4          False
           ...
1598638    False
1598639    False
1598640    False
1598641    False
1598642    False
Name: 18, Length: 1598643, dtype: bool

In [16]:
data3[data3[18].str.contains('F', na=False)]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54
0,PSTV01,PSTV02,PSTV15,FKP02,FKL02,FKL03,FKL04,FKL05,FKL06,FKL07,FKL08,FKL09,FKL10,FKL11,FKL12,FKL13,FKL14,FKL15,FKL15A,FKL16,FKL16A,FKL17,FKL17A,FKL18,FKL18A,FKL19,FKL19A,FKL20,FKL21,FKL22,FKL23,FKL25,FKL26,FKL27,FKL28,FKL29,FKL30,FKL31,FKL32,FKL33,FKL34,FKL35,FKL36,FKL37,FKL38,FKL39,FKL40,FKL41,FKL42,FKL43,FKL44,FKL45,FKL46,FKL47,FKL48
340,2939669,161526216,235.422119140625,NaN,88070718V004598,2018-07-13,2018-07-16,35,3510,3,1,2,2,998,5,2,1,439,F50,F509,NaN,2,A01,A010,NaN,A-4-14-I,NaN,1,4,14,2,35,3512,3,1,30,NaN,1,2643200,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,2643200,2643200
1193,80132430,40781965,218.193557739258,NaN,3858710170000431,2017-10-06,2017-10-14,33,3374,9,1,7,2,998,5,2,1,462,F90,F909,NaN,2,A01,A010,NaN,A-4-14-I,NaN,1,4,14,2,33,3374,9,2,8,NaN,1,2586400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2586400,2586400
1571,15747255,103422273,7.66881513595581,NaN,818607170004792,2017-07-19,2017-07-21,33,3325,9,1,7,2,998,4,2,1,439,F50,F505,NaN,2,A01,A010,NaN,A-4-14-I,NaN,1,4,14,2,33,3325,5,3,31,NaN,1,2155300,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,2155300,2155300
1804,10206225,10206225,61.2454681396484,NaN,818606170000665,2017-06-03,2017-06-06,33,3325,9,1,7,2,998,5,2,1,439,F50,F505,NaN,2,A01,A010,NaN,A-4-14-I,NaN,1,4,14,2,33,3325,9,4,33,NaN,1,2586400,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,2586400,2586400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1584018,16282764,66997644,15.6528,NaN,319740818V001666,2018-08-04,2018-08-04,35,3524,3,1,2,1,17,4,3,1,417,F20,F200,NaN,1692,Z98,Z988,NaN,Q-5-44-0,NaN,17,5,44,1,35,3524,9,4,33,NaN,1,183300,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,183300,183300
1584955,95431306,95431306,3.25662,NaN,3280306170001436,2017-06-07,2017-06-07,35,3516,3,1,2,1,17,4,2,1,427,F32,F320,NaN,1692,Z98,Z988,NaN,Q-5-44-0,NaN,17,5,44,1,35,3516,9,3,31,NaN,1,183300,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,183300,183300
1585698,82045332,212271855,7.80309,NaN,1668111170006404,2017-11-17,2017-11-17,32,3278,3,1,2,1,5,4,3,1,407,F10,F103,NaN,1693,Z99,Z992,NaN,N-3-15-0,NaN,14,3,15,1,32,3206,9,4,33,NaN,1,879100,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,879100,879100
1590282,23008174,189598774,9.76986,146710418Y001389,349790518V005277,2018-05-09,2018-05-09,36,3671,9,1,7,1,8,4,3,1,457,F82,F82,NaN,1693,Z99,Z992,NaN,Q-5-44-0,NaN,17,5,44,1,36,3603,9,3,31,NaN,1,190400,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,190400,190400
1590349,69702139,69702139,187.203,NaN,903812170000670,2017-12-04,2017-12-04,36,3602,3,1,2,1,5,3,3,1,417,F20,F20,NaN,1693,Z99,Z992,NaN,N-3-15-0,NaN,14,3,15,1,36,3602,3,1,30,NaN,1,879100,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,879100,879100

In [42]:
pd.set_option('display.max_rows', None)
fig = plt.figure(figsize=(100,100),  dpi=80)
g=data3[data3[18].str.contains('F', na=False)]
g[18].value_counts()

F20       10799
F80        2920
F32        1720
F41        1674
F84        1023
F25         567
F31         545
F90         497
F82         403
F23         381
F51         375
F06         317
F45         289
F48         287
F29         287
F81         168
F95         162
F03         151
F40         148
F43         137
F99         124
F33         121
F60         113
F02         103
F89          86
F70          86
F83          85
F42          85
F79          78
F00          76
F28          73
F09          67
F88          66
F05          64
F50          58
F21          58
F71          55
F91          55
F01          52
F44          44
F19          38
F30          30
F22          21
F54          19
F98          18
F07          18
F63          14
F10          14
F52          14
F39          14
F53          14
F62          12
F34          11
F11          10
F72          10
F93           9
F94           9
F68           9
F16           8
F24           8
F92           8
F18           7
F38           7
F73           6
F13           6
F12           5
F14           5
F04           5
F78           5
F59           3
F64           3
F69           3
F15           3
F65           2
FKL15A        1
F66           1
F17           1
Name: 18, dtype: int64