In [1]:
import pandas as pd

In [65]:
data = pd.read_csv("result.csv")

In [66]:
data1 = pd.read_csv("result.csv")

In [67]:
data_copy=data1

In [68]:
data_copy.loc[data_copy["hubungan_keluarga"]==1, "hubungan_keluarga"]="Peserta"
data_copy.loc[data_copy["hubungan_keluarga"]==2, "hubungan_keluarga"]="Suami Peserta"
data_copy.loc[data_copy["hubungan_keluarga"]==3, "hubungan_keluarga"]="Istri Peserta"
data_copy.loc[data_copy["hubungan_keluarga"]==4, "hubungan_keluarga"]="Anak Peserta"
data_copy.loc[data_copy["hubungan_keluarga"]==5, "hubungan_keluarga"]="Keluarga Tambahan Peserta"

In [69]:
data_copy.loc[data_copy["jenis_kelamin"]==1, "jenis_kelamin"]="Laki-Laki"
data_copy.loc[data_copy["jenis_kelamin"]==2, "jenis_kelamin"]="Perempuan"

In [70]:
data_copy.loc[data_copy["status_perkawinan"]==1, "status_perkawinan"]="Belum Menikah"
data_copy.loc[data_copy["status_perkawinan"]==2, "status_perkawinan"]="Menikah"
data_copy.loc[data_copy["status_perkawinan"]==3, "status_perkawinan"]="Cerai"
data_copy.loc[data_copy["status_perkawinan"]==9, "status_perkawinan"]="Tidak Terdefinisi"

In [71]:
data=data_copy
data

,no_peserta,no_keluarga,umur,hubungan_keluarga,jenis_kelamin,status_perkawinan,kota,kode_penyakit
0,24567809,152201172,32,Istri Peserta,Perempuan,Tidak Terdefinisi,7406,F20
1,19578880,50979663,19,Keluarga Tambahan Peserta,Perempuan,Belum Menikah,3302,F20
2,19578880,50979663,19,Keluarga Tambahan Peserta,Perempuan,Belum Menikah,3302,F32
3,19578880,50979663,19,Keluarga Tambahan Peserta,Perempuan,Belum Menikah,3302,F23
4,19578880,50979663,19,Keluarga Tambahan Peserta,Perempuan,Belum Menikah,3302,F25
...,...,...,...,...,...,...,...,...
4725,85196784,85196784,32,Peserta,Laki-Laki,Menikah,5203,F41
4726,182747122,182747122,26,Peserta,Laki-Laki,Belum Menikah,5104,F45
4727,33423349,33423349,54,Peserta,Laki-Laki,Menikah,3204,F41
4728,6750205,6750205,37,Peserta,Laki-Laki,Belum Menikah,1671,F20
4729,18071551,18071551,59,Peserta,Laki-Laki,Menikah,5202,F45

In [72]:
data_copy["kota"].value_counts()

1671    81
3374    80
3201    61
1371    60
3404    60
        ..
9103     1
5303     1
1205     1
1115     1
1214     1
Name: kota, Length: 458, dtype: int64

In [61]:
data_copy.loc[data_copy["kota"]//100==11, "provinsi"]="Aceh"

In [73]:
data_copy

,no_peserta,no_keluarga,umur,hubungan_keluarga,jenis_kelamin,status_perkawinan,kota,kode_penyakit
0,24567809,152201172,32,Istri Peserta,Perempuan,Tidak Terdefinisi,7406,F20
1,19578880,50979663,19,Keluarga Tambahan Peserta,Perempuan,Belum Menikah,3302,F20
2,19578880,50979663,19,Keluarga Tambahan Peserta,Perempuan,Belum Menikah,3302,F32
3,19578880,50979663,19,Keluarga Tambahan Peserta,Perempuan,Belum Menikah,3302,F23
4,19578880,50979663,19,Keluarga Tambahan Peserta,Perempuan,Belum Menikah,3302,F25
...,...,...,...,...,...,...,...,...
4725,85196784,85196784,32,Peserta,Laki-Laki,Menikah,5203,F41
4726,182747122,182747122,26,Peserta,Laki-Laki,Belum Menikah,5104,F45
4727,33423349,33423349,54,Peserta,Laki-Laki,Menikah,3204,F41
4728,6750205,6750205,37,Peserta,Laki-Laki,Belum Menikah,1671,F20
4729,18071551,18071551,59,Peserta,Laki-Laki,Menikah,5202,F45

In [74]:
kode=[11,12,13,14, 15, 16, 17, 18, 19, 21, 31, 32, 33, 34, 35, 36, 51, 52, 53, 61, 62, 63, 64, 65, 71, 72, 73, 75, 76, 81, 82, 91, 94, 99]
provinsi=["Aceh", "Sumatera Utara" , "Sumatera Barat", "Riau", "Jambi", "Sumatera Selatan", "Bengkulu","Lampung", "Kepulauan Bangka Belitung", "Kepulauan Riau", "DKI Jakarta", "Jawa Barat","Jawa Tengah", "DI Yogyakarta", "Jawa Timur", "Banten", "Bali",  "Nusa Tenggara Barat", "Nusa Tenggara Timur", "Kalimantan Barat", "Kalimantan Tengah", "Kalimantan Selatan", "Kalimantan Timur", "Kalimantan Utara", "Sulawesi Utara", "Sulawesi Tengah", "Sulawesi Selatan", "Gorontalo", "Sulawesi Barat", "Maluku", "Maluku Utara", "Papua Barat", "Papua", "Tidak terdefinisi"]

In [75]:
for i,j in zip(kode, provinsi):
    data_copy.loc[data_copy["kota"]//100==i, "provinsi"]=j

In [77]:
 data_copy.loc[data_copy["kota"]//100==74, "provinsi"]="Sulawesi Tenggara"

In [83]:
data_copy["kode_penyakit"].value_counts()

F20    1902
F41     751
F32     553
F80     368
F45     353
F23     190
F25     186
F31     171
F06     149
F03     107
Name: kode_penyakit, dtype: int64

In [81]:
data_copy = data_copy.drop(columns={"kota"})

In [92]:
data2=data_copy
data2

,no_peserta,no_keluarga,umur,hubungan_keluarga,jenis_kelamin,status_perkawinan,provinsi,penyakit
0,24567809,152201172,32,Istri Peserta,Perempuan,Tidak Terdefinisi,Sulawesi Tenggara,Schizophrenia
1,19578880,50979663,19,Keluarga Tambahan Peserta,Perempuan,Belum Menikah,Jawa Tengah,Schizophrenia
2,19578880,50979663,19,Keluarga Tambahan Peserta,Perempuan,Belum Menikah,Jawa Tengah,Depressive episode
3,19578880,50979663,19,Keluarga Tambahan Peserta,Perempuan,Belum Menikah,Jawa Tengah,Acute and transient psychotic disorders
4,19578880,50979663,19,Keluarga Tambahan Peserta,Perempuan,Belum Menikah,Jawa Tengah,Schizoaffective disorders
...,...,...,...,...,...,...,...,...
4725,85196784,85196784,32,Peserta,Laki-Laki,Menikah,Nusa Tenggara Barat,Other anxiety disorders
4726,182747122,182747122,26,Peserta,Laki-Laki,Belum Menikah,Bali,Somatoform disorders
4727,33423349,33423349,54,Peserta,Laki-Laki,Menikah,Jawa Barat,Other anxiety disorders
4728,6750205,6750205,37,Peserta,Laki-Laki,Belum Menikah,Sumatera Selatan,Schizophrenia
4729,18071551,18071551,59,Peserta,Laki-Laki,Menikah,Nusa Tenggara Barat,Somatoform disorders

In [82]:
data_copy.to_csv("result_fix.csv", index=False)

In [86]:
kode_penyakit=["F20", "F41","F32","F80", "F45","F23","F25","F31","F06","F03"]
nm_penyakit=["Schizophrenia", "Other anxiety disorders","Depressive episode", "Specific developmental disorders of speech and language", "Somatoform disorders", "Acute and transient psychotic disorders", "Schizoaffective disorders","Bipolar affective disorder", "Other mental disorders due to brain damage and dysfunction and to physical disease", "Unspecified dementia" ]
for i,j in zip(kode_penyakit, nm_penyakit):
    data_copy.loc[data_copy["kode_penyakit"]==i, "penyakit"]=j

In [87]:
data_copy

,no_peserta,no_keluarga,umur,hubungan_keluarga,jenis_kelamin,status_perkawinan,kode_penyakit,provinsi,penyakit
0,24567809,152201172,32,Istri Peserta,Perempuan,Tidak Terdefinisi,F20,Sulawesi Tenggara,Schizophrenia
1,19578880,50979663,19,Keluarga Tambahan Peserta,Perempuan,Belum Menikah,F20,Jawa Tengah,Schizophrenia
2,19578880,50979663,19,Keluarga Tambahan Peserta,Perempuan,Belum Menikah,F32,Jawa Tengah,Depressive episode
3,19578880,50979663,19,Keluarga Tambahan Peserta,Perempuan,Belum Menikah,F23,Jawa Tengah,Acute and transient psychotic disorders
4,19578880,50979663,19,Keluarga Tambahan Peserta,Perempuan,Belum Menikah,F25,Jawa Tengah,Schizoaffective disorders
...,...,...,...,...,...,...,...,...,...
4725,85196784,85196784,32,Peserta,Laki-Laki,Menikah,F41,Nusa Tenggara Barat,Other anxiety disorders
4726,182747122,182747122,26,Peserta,Laki-Laki,Belum Menikah,F45,Bali,Somatoform disorders
4727,33423349,33423349,54,Peserta,Laki-Laki,Menikah,F41,Jawa Barat,Other anxiety disorders
4728,6750205,6750205,37,Peserta,Laki-Laki,Belum Menikah,F20,Sumatera Selatan,Schizophrenia
4729,18071551,18071551,59,Peserta,Laki-Laki,Menikah,F45,Nusa Tenggara Barat,Somatoform disorders

In [88]:
data_copy = data_copy.drop(columns={"kode_penyakit"})

In [89]:
data_copy

,no_peserta,no_keluarga,umur,hubungan_keluarga,jenis_kelamin,status_perkawinan,provinsi,penyakit
0,24567809,152201172,32,Istri Peserta,Perempuan,Tidak Terdefinisi,Sulawesi Tenggara,Schizophrenia
1,19578880,50979663,19,Keluarga Tambahan Peserta,Perempuan,Belum Menikah,Jawa Tengah,Schizophrenia
2,19578880,50979663,19,Keluarga Tambahan Peserta,Perempuan,Belum Menikah,Jawa Tengah,Depressive episode
3,19578880,50979663,19,Keluarga Tambahan Peserta,Perempuan,Belum Menikah,Jawa Tengah,Acute and transient psychotic disorders
4,19578880,50979663,19,Keluarga Tambahan Peserta,Perempuan,Belum Menikah,Jawa Tengah,Schizoaffective disorders
...,...,...,...,...,...,...,...,...
4725,85196784,85196784,32,Peserta,Laki-Laki,Menikah,Nusa Tenggara Barat,Other anxiety disorders
4726,182747122,182747122,26,Peserta,Laki-Laki,Belum Menikah,Bali,Somatoform disorders
4727,33423349,33423349,54,Peserta,Laki-Laki,Menikah,Jawa Barat,Other anxiety disorders
4728,6750205,6750205,37,Peserta,Laki-Laki,Belum Menikah,Sumatera Selatan,Schizophrenia
4729,18071551,18071551,59,Peserta,Laki-Laki,Menikah,Nusa Tenggara Barat,Somatoform disorders

In [91]:
data_copy.to_excel("result_fix.xlsx", index=False)

In [93]:
countss=data_copy["penyakit"].value_counts()

In [96]:
countss

Schizophrenia                                                                         1902
Other anxiety disorders                                                                751
Depressive episode                                                                     553
Specific developmental disorders of speech and language                                368
Somatoform disorders                                                                   353
Acute and transient psychotic disorders                                                190
Schizoaffective disorders                                                              186
Bipolar affective disorder                                                             171
Other mental disorders due to brain damage and dysfunction and to physical disease     149
Unspecified dementia                                                                   107
Name: penyakit, dtype: int64